
.list {
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
}


.item {
  text-align: center;
  width: 30%;
  cursor: pointer;
  background-color: darkred;
  font-weight: bolder;
}

.itemcompleted {
  text-align: center;
  width: 30%;
  cursor: pointer;
  background-color: darkgreen;
  font-weight: bolder;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  background-color: darkslategray;
}