.App {
  text-align: center;
}


.list {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 50%;
}


.item {
  width: 45%;
  cursor: pointer;
  background-color: darkred;
}

.itemcompleted {
    background-color: darkgreen;
    width: 45%;
    cursor: pointer;
}